{% extends 'layout.html.twig' %}

{% block content %}
    <section id="">
        <h3>Dossiers</h3>
        {% for folder in folders %}
            <div class="folder">
                {{ folder.foldername }}
                <div class="actions folder-actions">
                    <a href="?action=renameFolder">
                        <img src="assets/img/icon_rename.png" class="icon-rename" alt="icon-to-rename">
                    </a>
                    <a href="?action=moveFolder">
                        <img src="assets/img/icon_folder.png" class="icon-move" alt="icon-to-move">
                    </a>
                    <!--
                        <a href="{{ file.filepath }}" download="{{ file.filename }}">
                            <img src="assets/img/icon_download.png" alt="icon-to-download">
                        </a>
                        -->
                    <a href="?action=deleteFolder">
                        <img src="assets/img/icon_delete.png" class="icon-delete" alt="icon-to-delete">
                    </a>
                </div>
            </div>
        {% endfor %}
        <hr>
        <h3>Fichiers</h3>
        {% for file in files %}
            <!-- check if file belongs to a folder -->
            <div class="file">
                {% if file.extension == 'image/jpeg' or file.extension == 'image/png' or file.extension == 'image/gif' %}
                    <img src="{{ file.filepath }}" class="preview" alt="preview-img">
                {% elseif file.extension == 'text/plain' %}
                    <img src="assets/img/txt-icon.png" class="preview" alt="preview-text">
                {% elseif file.extension == 'application/pdf' %}
                    <img src="assets/img/pdf-icon.png" class="preview" alt="preview-pdf">
                {% elseif file.extension == 'audio/mpeg' %}
                    <audio src="{{ file. filpath }}" class="preview" controls>
                        <source type="audio/mpeg" alt="preview-mp3">
                    </audio>
                {% elseif file.extension == 'video/3gpp' or file.extension == 'video/mp4' %}
                    <video width="220" height="140" class="preview" controls>
                        <source src="{{ file.filepath }}" type="video/mp4">
                    </video>
                {% elseif file.extension == 'application/zip' or file.extension == 'application/x-rar-compressed' %}
                    <img src="assets/img/icon-archive.png" class="preview" alt="preview-pdf">
                {% endif %}
                {{ file.filename }}
                {% if file.extension == 'text/plain' %}
                    <a href="?action=editFile">
                        <img src="assets/img/icon_modify.png" class="icon-modify" alt="icon-to-modify">
                    </a>
                {% endif %}
                <div class="actions file-actions">
                    <a href="?action=renameFile">
                        <img src="assets/img/icon_rename.png" class="icon-rename" alt="icon-to-rename">
                    </a>
                    <a href="?action=replaceFile">
                        <img src="assets/img/icon_replace.png" class="icon-replace" alt="icon-to-replace">
                    </a>
                    <a href="?action=moveFile">
                        <img src="assets/img/icon_folder.png" class="icon-move" alt="icon-to-move">
                    </a>
                    <a href="{{ file.filepath }}" download="{{ file.filename }}">
                        <img src="assets/img/icon_download.png" alt="icon-to-download">
                    </a>
                    <a href="?action=deleteFile">
                        <img src="assets/img/icon_delete.png" class="icon-delete" alt="icon-to-delete">
                    </a>
                </div>
                <div class="container-forms">
                    <form method="POST" action="?action=renameFile" id="form-rename-file">
                        <input type="hidden" name="filename" value="{{ file.filename }}">
                        <input type="text" name="newname" placeholder="Nouveau nom">
                        <input type="submit" value="Renommer">
                    </form>
                    <form method="POST" action="?action=replaceFile" enctype="multipart/form-data" id="form-replace-file">
                        <input type="hidden" name="MAX_FILE_SIZE" value="50000000">
                        <input type="hidden" name="input-filename" value="{{ file.filename }}">
                        <input type="hidden" name="input-filepath" value="{{ file.filepath }}">
                        <input type="file" name="filename">
                        <input type="submit" value="Remplacer">
                    </form>
                    <form method="POST" action="?action=moveFile">
                        <input type="hidden" name="input-filename" value="{{ file.filename }}">
                        <input type="hidden" name="input-filepath" value="{{ file.filepath }}">
                        <select name="new-folder">
                            {% for folder in folders %}
                                <option value="{{ folder.foldername }}">{{ folder.foldername }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Déplacer">
                    </form>
                    <form method="POST" action="?action=delete">
                        <input type="hidden" name="input-filename" value="{{ file.filename }}">
                        <input type="hidden" name="input-filepath" value="{{ file.filepath }}">
                        <p>Supprimer ?</p>
                        <input type="submit" value="Oui">
                        <!-- non -->
                    </form>
                    <div class="container-modify-field container-hidden">
                        <form method="POST" action="?action=modify" id="form-modify">
                            <input type="hidden" name="input-filename" value="{{ file.filename }}" class="input-hidden">
                            <input type="hidden" name="input-filepath" value="{{ file.filepath }}" class="input-hidden">
                            <textarea name="content-modification" placeholder="Ajouter du texte">
                                    <!--file_get_contents($i['filepath'])-->
                                 </textarea>
                            <input type="submit" value="Modifier">
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
